html {
  height: 100%;
}
body {
  margin: 0 auto;
  height: 100%;
  display: block;
}
nav {
  position: fixed;
  text-align: center;
  bottom: 0px;
  width:100%;
  border: solid;
}
.content {
  position: relative;
  marign: 0 auto;
  text-align: center;
  margin-top: -5%;
}
.header-container {
  position: relative;
}
.header-image-container {
  display: block;
  position: absolute;
  top: 3.5%;
  width: 100%;
  animation: header-fade-in;
  animation-duration: 1.5s;
}
.header-image {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.header-text {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  margin: 0 auto;
}
.background-image {
  width: 100%;
  z-index: -9999;
}
@keyframes header-fade-in {
  0% {
    top: 11.5%;
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}